pydantic
scipy
watchdog
pylint
shapely
ipykernel

Cartopy
folium
geopandas
geoviews
holoviews
matplotlib
numpy==1.26.4
pandas
panel
pathos
platformdirs
podaac-data-subscriber
pygmt
pymssa @ git+https://github.com/kieferk/pymssa.git
pyshtools
scikit-learn
setuptools
tqdm
xarray
